// Base styles

* {
  border: 0;
  padding: 0;
  @include flex;
}

html,
body {
  height: 100%;
  background: $color-white;
}

::selection {
  background: $color-black;
  color: white;
  text-shadow: none;
}
