.footer {
  display: block;
  color: darken($color-gray, 10%);
  padding-bottom: 40px;
  text-align: center;

  .motto {
    margin: 100px auto;
    font-family: $poly;
    font-size: 1.5em;
    text-align: center;
    color: $color-black;
  }

  .download {
    @include flex;
    margin-bottom: 100px;

    a {
      font-family: $poly;
      font-size: 18px;
      width: 100%;
      display: block;
      margin: 20px 0;
      padding: 12px 0;
      border-radius: $radius;
      border: 2px solid $color-green;
      color: $color-green;
      text-decoration: none;
      -webkit-transition: .2s ease-in-out;
      transition: .2s ease-in-out;

      &:hover,
      &:active {
        background-color: $color-green;
        color: $color-white;
      }

      @include screen-medium {
        display: inline-block;
        margin: 0 15px;
        padding: 15px 0;
        width: 30%;
      }
    }
  }
}
