.footer {
  display: block;
  background-color: $color-black;
  color: darken($color-gray,50%);
  font-size: 16px;
  padding-bottom: 40px;
  text-align: center;
  section.download {
    display: block;
    @include flex;
    margin-bottom: 100px;
    a {
      display: inline-block;
      width: 100%;
      padding: 20px 0px;
      border-radius: $radius;
      background-color: $color-green;
      color: $color-white;
      text-decoration: none;
      margin-top: 20px;
      &:hover,&:active {
        background-color: darken($color-green,3%);
      }
      @include screen-medium {
        margin: 0 40px;
        width: auto;
        padding: 20px 25px;
      }
    }
  }
}
