.hero {
  display: block;
  @include gradient($color-green, $color-blue);
  overflow: hidden;
  height: 400px;

  @include screen-medium {
    height: 500px;
  }

  @include screen-large {
    height: 600px;
  }

  .headline {
    display: block;
    text-align: center;
    @include flex;

    @include screen-medium {
      padding-top: 50px;
    }

    h1 {
      margin: 0 auto;
      font-family: $lobster;
      font-size: 30px;
      color: $color-white;

      @include screen-medium {
        font-size: 36px;
      }
    }

    h2 {
      color: $color-white;
    }
  }

  .laptop {
    position: relative;
    -webkit-transition: .5s ease-in-out;
    transition: .5s ease-in-out;
    bottom: -80px;

    img {
      width: 100%;
    }

    @include screen-large {
      bottom: -175px;
      left: 110px;

      &:hover {
        bottom: -90px;
      }

      img {
        width: 70%;
      }
    }
  }
}
