// Screen Sizes

$screen-medium: 600px;
$screen-large: 900px;

// Animate

$transition : .75s;

// Colors

$color-white: #fff;
$color-black: #282828;
$color-gray: #dadada;
$color-green: #2aa876;

// Sizes

$radius: 3px;
$line-height: 1.65;

// Typefaces

$lobster: "Lobster Two", cursive;
$pt-sans: "PT Sans", sans-serif;
$poly: "Poly", serif;