// Base element styles

::-webkit-input-placeholder {
  color: $color-gray;
}

::selection {
  background-color: $color-background;
}

* {
  @include flex;
  border: 0;
  padding: 0;
}

html, body {
  height: 100%;
  background: $color-background;
}

body {
  @include flex;
  text-align: center;
  padding: 20px;
  font-size: 18px;
  -webkit-backface-visibility: hidden;
}

section {
  margin-top: 50px;
}

a {
  color: inherit;
  text-decoration: none;
}

.footer {
  display: block;
  position: relative;
  bottom: $radius;
  width: 100%;
  left: 0;
  right: 0;
  padding-top: 20px;
}