// Lists styles

ul {
  box-sizing: content-box;
  width: 100%;
}

li {
  display: flex;
  align-content: center;
  box-sizing: border-box;
  padding-right: .5rem;
  background: $color-white;
  height: 60px;
  overflow: hidden;
  width: 450px;
  margin: 10px auto;
  border-radius: $radius;
  @media screen and (max-width:$break) {
    width: $break/2;
  }
}

.removed {
  margin-top: -10px;
  height: 0;
  opacity: 0;
  @include transition;
}


input {
  display: block;
  font-size: 20px;
  background: transparent;
  position: relative;
  padding: $padding;
  margin-left: 10px;
  overflow: hidden;
  white-space: nowrap;
  width: 450px;
  color: $color-black;

  &#new {
    width: 100%;
  }

  &:focus {
    outline: 0;
  }

  @media screen and (max-width:$break) {
    font-size:16px;
    width: 200px;
  }

}

.close-toggle {
  display: inline-block;
  align-self: center;
  text-align: center;
  position: relative;
  right: 0;
  height: 100%;
  width: $size;
  padding: $padding;
  cursor: pointer;
  user-select: none;
  @media screen and (max-width:$break) {
    width: 1em;
    height: 80%;
  }
}

.close {
  cursor: pointer;
  color: transparent;
  font-size: 50px;
  @media screen and (max-width:$break) {
    font-size: 40px;
  }
}

li:not(.new):hover .close {
  color: $color-red;
  @include transition;
}

li.new {
  // @include transition;
  background: transparent;
  ::-webkit-input-placeholder {
    color: lighten($color-black,20%);
  }
}

input#new {
  text-align: center;
  color: $color-white;
}
