// Logo Typeface

.lobster {
  font-family: $lobster;
  color: $color-brand;
  font-size: 26px;
  // centering it with the circles
  padding-right: 1px;

}

// App Typeface

html, body {
  font-family: $pt-sans;
}
