// Animate

$transition : .75s;

// Colors

$color-background: #282828;
$color-gray: #dadada;
$color-brand: #2aa876;
$color-red: #d94f48;

// Sizes

$radius: 2px;
$listwidth : 20rem;
$size : 3rem;
$padding : .5rem;

// Typefaces

$lobster: "Lobster Two", cursive;
$pt-sans: "PT Sans", sans-serif;