<div class="footer">
  <div class="container">
    <section class="download">
      <a href="https://chrome.google.com/webstore/detail/elenco/phbjhmbdcecahmckhhbdabmnhmjcpjab" class="icon-chrome"> Install It</a>
      <a href="https://github.com/drocarmo/elenco" class="icon-github github"> View Code</a>
    </section>
    <p>
      Made with love by <a href="https://twitter.com/drocarmo" target="_blank">@drocarmo</a> &#38; <a href="https://twitter.com/TJkrusinski" target="_blank">@TJkrusinski</a>
    </p>
  </div>
</div>
<script src="{{ base.url }}js/application.js"></script>
<script>
  $(function () {
    $('[data-typer-targets]').typer();
  });
</script>