<div class="footer">
  <div class="container">
    <p class="motto">Elenco was built for people who work better with a to-do list at hand, to stay focused on the web. It was designed to be a friendly tool, enjoy it!</p>
    <section class="download">
      <a href="https://chrome.google.com/webstore/detail/elenco/phbjhmbdcecahmckhhbdabmnhmjcpjab" class="icon-chrome"> Download</a>
      <a href="https://github.com/drocarmo/elenco" class="icon-github"> Contribute</a>
    </section>
    <p>
      Made with &hearts; by <a href="https://twitter.com/drocarmo" target="_blank">@drocarmo</a> &#38; <a href="https://twitter.com/TJkrusinski" target="_blank">@TJkrusinski</a>
    </p>
  </div>
</div>
<script src="{{ base.url }}js/application.js"></script>
<script>
  $(function () {
    $('[data-typer-targets]').typer();
  });
</script>
