<section class="hero">
  <div class="container">
    <section class="headline">
      <h1>Elenco</h1>
      <h2><span data-typer-targets="An app designed to help you stay on track.,Means lists in Italian.,Whatever you want it to be."></span></h2>
    </section>
    <section class="feature">
      <h3><span class="icon-chrome"></span> Google Extension</h3>
      <p>Elenco serves as a to do extension app for the Chrome browser. Opening a new tab activates Elenco, displaying current tasks.</p>
    </section>
    <section class="feature">
      <h3><span class="icon-sync"></span> Syncs Everywhere</h3>
      <p>It syncs tasks to all the Chrome browsers your google account is logged into. Edit &#38; delete tasks and it syncs eveywhere.</p>
    </section>
    <section class="feature">
      <h3><span class="icon-zero"></span> “Inbox Zero”</h3>
      <p>Elenco was built for people who enjoy an ‘inbox zero’ feel at the end of the day. A task list built into your browser looks good when it's empty.</p>
    </section>
    <section class="feature">
      <h3><span class="icon-globe"></span> Open Source</h3>
      <p>Elenco was built out in the <a href="https://github.com/drocarmo/elenco" target="_blank">open</a>. We're building new features and killing issues as they come. It's whatever you want it to be.</p>
    </section>
  </div>
</section>