<section class="hero">
  <div class="container">
    <section class="laptop">
      <img src="/elenco/assets/images/laptop.png" alt="Screenshot">
    </section>
    <section class="headline">
      <img src="https://raw.githubusercontent.com/drocarmo/elenco/master/assets/images/icon.png" alt="Icon">
      <h1>Elenco</h1>
      <h2>A Chrome-extension designed to help you stay on track.</h2>
      <section class="button">
        <a href="https://chrome.google.com/webstore/detail/elenco/phbjhmbdcecahmckhhbdabmnhmjcpjab">Download Elenco</a>
      </section>
    </section>
  </div>
</section>
