@charset "UTF-8";
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
nav,
section,
summary {
  display: block; }

audio,
canvas,
video {
  display: inline-block; }

audio:not([controls]) {
  display: none;
  height: 0; }

[hidden] {
  display: none; }

html {
  background: white;
  color: #454545;
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%; }

html,
button,
input,
select,
textarea {
  font-family: sans-serif; }

body {
  margin: 0; }

a:focus {
  outline: thin dotted; }
a:hover, a:active {
  outline: 0; }

h1 {
  font-size: 2em;
  font-weight: normal;
  margin: 0.67em 0; }

h2 {
  font-size: 1.5em;
  font-weight: normal;
  margin: 0.83em 0; }

h3 {
  font-size: 1.17em;
  font-weight: normal;
  margin: 1em 0; }

h4 {
  font-size: 1em;
  font-weight: normal;
  margin: 1.33em 0; }

h5 {
  font-size: 0.83em;
  font-weight: normal;
  margin: 1.67em 0; }

h6 {
  font-size: 0.75em;
  font-weight: normal;
  margin: 2.33em 0; }

abbr[title] {
  border-bottom: 1px dotted; }

b,
strong {
  font-weight: bold; }

dfn {
  font-style: italic; }

mark {
  background: #ff0;
  color: #000; }

code,
kbd,
pre,
samp {
  font-family: monospace, serif;
  font-size: 1em; }

pre {
  white-space: pre;
  white-space: pre-wrap;
  word-wrap: break-word; }

q {
  quotes: "\201C" "\201D" "\2018" "\2019"; }

q:before,
q:after {
  content: '';
  content: none; }

small {
  font-size: 80%; }

sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline; }

sup {
  top: -0.5em; }

sub {
  bottom: -0.25em; }

img {
  border: 0; }

svg:not(:root) {
  overflow: hidden; }

figure {
  margin: 0; }

fieldset {
  border: 1px solid #c0c0c0;
  margin: 0 2px;
  padding: 0.35em 0.625em 0.75em; }

legend {
  border: 0;
  padding: 0;
  white-space: normal; }

button,
input,
select,
textarea {
  font-family: inherit;
  font-size: 100%;
  margin: 0;
  vertical-align: baseline; }

button,
input {
  line-height: normal; }

button,
select {
  text-transform: none; }

button,
html input[type="button"],
input[type="reset"],
input[type="submit"] {
  -webkit-appearance: button;
  cursor: pointer; }

button[disabled],
input[disabled] {
  cursor: default; }

input[type="checkbox"],
input[type="radio"] {
  box-sizing: border-box;
  padding: 0; }

input[type="search"] {
  -webkit-appearance: textfield;
  -moz-box-sizing: content-box;
  -webkit-box-sizing: content-box;
  box-sizing: content-box; }

input[type="search"]::-webkit-search-cancel-button,
input[type="search"]::-webkit-search-decoration {
  -webkit-appearance: none; }

button::-moz-focus-inner, input::-moz-focus-inner {
  border: 0;
  padding: 0; }

textarea {
  overflow: auto;
  vertical-align: top; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

.container {
  position: relative;
  margin: 0 auto;
  width: 85%; }
  @media screen and (min-width: 600px) {
    .container {
      width: 500px; } }
  @media screen and (min-width: 900px) {
    .container {
      width: 800px; } }

body {
  font-family: "PT Sans", sans-serif;
  line-height: 1.65; }

h2, h3 {
  font-family: "Poly", serif; }

h3 {
  font-size: 1.3em; }

p {
  font-size: 1.150em; }

@font-face {
  font-family: 'entypo';
  src: url("fonts/entypo.eot?35738411");
  src: url("fonts/entypo.eot?35738411#iefix") format("embedded-opentype"), url("fonts/entypo.woff?35738411") format("woff"), url("fonts/entypo.ttf?35738411") format("truetype"), url("fonts/entypo.svg?35738411#entypo") format("svg");
  font-weight: normal;
  font-style: normal; }

[class^="icon-"]:before, [class*=" icon-"]:before {
  font-family: "entypo";
  font-style: normal;
  font-weight: normal;
  speak: none;
  display: inline-block;
  text-decoration: inherit;
  width: 1em;
  margin-right: .2em;
  text-align: center;
  font-variant: normal;
  text-transform: none;
  line-height: 1em;
  margin-left: .2em; }

.icon-chrome:before {
  content: '\e800'; }

/* '' */
.icon-zero:before {
  content: '\e803'; }

/* '' */
.icon-sync:before {
  content: '\e802'; }

/* '' */
.icon-globe:before {
  content: '\e801'; }

/* '' */
.icon-github:before {
  content: '\e804'; }

/* '' */
* {
  border: 0;
  padding: 0;
  margin: 0 auto; }

html, body {
  height: 100%;
  background: white; }

body {
  -webkit-backface-visibility: hidden; }

a {
  color: inherit;
  text-decoration: underline; }

section.hero {
  display: block;
  height: 130%; }
  @media screen and (min-width: 600px) {
    section.hero {
      height: 120%; } }
  @media screen and (min-width: 900px) {
    section.hero {
      height: 100%; } }
  section.hero section.headline {
    display: block;
    text-align: center;
    margin: 0 auto; }
    @media screen and (min-width: 600px) {
      section.hero section.headline {
        margin-bottom: 100px; } }
    section.hero section.headline h1 {
      font-family: "Lobster Two", cursive;
      font-size: 40px;
      color: #2aa876; }
      @media screen and (min-width: 600px) {
        section.hero section.headline h1 {
          font-size: 48px; } }
  section.hero p {
    color: #b4b4b4; }
  section.hero section.feature {
    display: block;
    position: relative;
    float: left;
    width: 100%; }
    @media screen and (min-width: 600px) {
      section.hero section.feature {
        width: 40%;
        height: 300px;
        margin-left: 5%;
        margin-right: 5%; } }
    @media screen and (min-width: 900px) {
      section.hero section.feature {
        height: 220px; } }
  section.hero :nth-child(2n) {
    margin-right: 0%; }

section.example {
  display: none; }
  @media screen and (min-width: 600px) {
    section.example {
      display: block;
      background: #282828;
      height: 500px; }
      section.example .gif {
        display: block;
        height: 600px;
        width: 530px;
        background: url(images/elenco.gif) center no-repeat;
        background-size: 100%; } }

.footer {
  display: block;
  background-color: #282828;
  color: #5a5a5a;
  font-size: 16px;
  padding-bottom: 40px;
  text-align: center; }
  .footer section.download {
    display: block;
    margin: 0 auto;
    margin-bottom: 100px; }
    .footer section.download a {
      display: inline-block;
      width: 100%;
      padding: 20px 0px;
      border-radius: 3px;
      background-color: #2aa876;
      color: white;
      text-decoration: none;
      margin-top: 20px; }
      .footer section.download a:hover, .footer section.download a:active {
        background-color: #279c6d; }
      @media screen and (min-width: 600px) {
        .footer section.download a {
          margin: 0 40px;
          width: auto;
          padding: 20px 25px; } }
