* {
  border: 0;
  margin: 0 auto;
  padding: 0;
  vertical-align: baseline; }

html, body {
  height: 100%;
  font-family: "PT Sans", sans-serif;
  background: #f0f0f0; }

body {
  text-align: center;
  margin: 0 auto;
  padding: 20px;
  font-size: 18px;
  -webkit-backface-visibility: hidden; }

a {
  color: inherit;
  text-decoration: none; }

.lobster {
  font-family: "Lobster Two", cursive;
  color: #2aa876; }

.container {
  width: 300px;
  margin: 0 auto; }

.footer {
  display: block;
  position: fixed;
  bottom: 2px;
  width: 100%;
  left: 0;
  right: 0; }

section {
  margin-top: 50px; }

::-webkit-input-placeholder {
  color: #cdcdcd; }

ul {
  box-sizing: content-box;
  width: 100%; }

li {
  display: flex;
  align-content: center;
  box-sizing: border-box;
  border-radius: 2px;
  padding-right: .5rem;
  background: white;
  height: 70px;
  overflow: hidden;
  margin: 10px auto;
  width: 450px; }

.removed {
  margin-top: -10px;
  height: 0;
  opacity: 0; }

input {
  font-size: 20px;
  background: transparent;
  position: relative;
  padding: 0.5rem;
  margin-left: 10px;
  transition: 0.75s;
  overflow: hidden;
  white-space: nowrap;
  width: 450px;
  color: #333; }
  input#new {
    width: 100%; }
  input:focus {
    outline: 0; }

.check-toggle {
  display: inline-block;
  align-self: center;
  text-align: center;
  position: relative;
  right: 0;
  height: 3rem;
  width: 3rem;
  padding: 0.5rem 1rem;
  border-radius: 0.3rem;
  transition: 0.75s;
  cursor: pointer;
  user-select: none; }

.close {
  color: transparent;
  font-size: 60px;
  vertical-align: center; }
  .close:hover {
    transition: transform 0.75s; }

li:not(.new):hover .close {
  color: #d94f48;
  transition: 0.75s; }

.new {
  transition: 0.75s; }
