::-webkit-input-placeholder {
  color: #dadada; }

::selection {
  background-color: #282828; }

* {
  margin: 0 auto;
  border: 0;
  padding: 0; }

html, body {
  height: 100%;
  background: #282828; }

body {
  margin: 0 auto;
  text-align: center;
  padding: 20px;
  font-size: 18px;
  -webkit-backface-visibility: hidden; }

section {
  margin-top: 50px; }

a {
  color: inherit;
  text-decoration: none; }

.footer {
  display: block;
  position: relative;
  bottom: 2px;
  width: 100%;
  left: 0;
  right: 0;
  padding-top: 20px; }

.lobster {
  font-family: "Lobster Two", cursive;
  color: #2aa876; }

html, body {
  font-family: "PT Sans", sans-serif; }

ul {
  box-sizing: content-box;
  width: 100%; }

li {
  display: flex;
  align-content: center;
  box-sizing: border-box;
  padding-right: .5rem;
  background: white;
  height: 60px;
  overflow: hidden;
  width: 450px;
  margin: 10px auto;
  border-radius: 2px; }
  @media screen and (max-width: 500px) {
    li {
      width: 250px; } }

.removed {
  margin-top: -10px;
  height: 0;
  opacity: 0;
  transition: 0.75s;
  -webkit-animation: transition 0.75s; }

input {
  display: block;
  font-size: 20px;
  background: transparent;
  position: relative;
  padding: 0.5rem;
  margin-left: 10px;
  overflow: hidden;
  white-space: nowrap;
  width: 450px;
  color: #282828; }
  input#new {
    width: 100%; }
  input:focus {
    outline: 0; }
  @media screen and (max-width: 500px) {
    input {
      font-size: 16px;
      width: 200px; } }

.task {
  display: inline-block;
  align-self: center;
  text-align: center;
  position: relative;
  right: 0;
  height: 100%;
  width: 3rem;
  padding: 0.5rem;
  cursor: pointer;
  user-select: none; }
  @media screen and (max-width: 500px) {
    .task {
      width: 1em;
      height: 80%; } }

.close {
  cursor: pointer;
  color: transparent;
  font-size: 50px; }
  @media screen and (max-width: 500px) {
    .close {
      font-size: 40px; } }

li:not(.new):hover .close {
  color: #d94f48;
  transition: 0.75s;
  -webkit-animation: transition 0.75s; }

li.new {
  background: transparent;
  border: 2px solid transparent; }
  li.new ::-webkit-input-placeholder {
    color: #5b5b5b; }

input#new {
  text-align: center;
  color: white; }

.animated {
  -webkit-animation-fill-mode: both;
  animation-fill-mode: both;
  -webkit-animation-duration: 1s;
  animation-duration: 1s; }

@-webkit-keyframes fadeInDown {
  0% {
    opacity: 0;
    -webkit-transform: translateY(-40px); }

  100% {
    opacity: 1;
    -webkit-transform: translateY(0); } }

@keyframes fadeInDown {
  0% {
    opacity: 0;
    transform: translateY(-40px); }

  100% {
    opacity: 1;
    transform: translateY(0); } }

.fadeInDown {
  -webkit-animation-name: fadeInDown;
  -moz-animation-name: fadeInDown;
  -o-animation-name: fadeInDown;
  animation-name: fadeInDown; }
